@media only screen and (max-width: 921px){ 
	.job-details ul{
		
	}
	#section{
		justify-content: center;
	}
}


nav {
	float: right;
}

nav a, a:hover{
	color: white;
}

nav li{
	list-style-type: none;
	float: left;
	padding: 10px;
}

h1 {

	font-weight: bolder;
}

div .row h4{
	color: lightblue;
}

#home a{
	color: blue;
}

#summary{
	height: 200px;
	margin-top: 0px;
	background-color: blue;
	border: solid 1px lightgrey;
}

#content{
	margin: auto;
	width: 90%;
	color: grey;

}

#content h3{
	color: darkgrey;
}
#experience {
	float: left;
}

#education{
	float: left;
}

#certificates{
	float: left;
}
.section{
	border-bottom: solid 1px lightblue;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 15px;
	width: 100%;
}

.section p{
	clear: left;
}

.job-details ul{
	list-style-type: none;
	padding-right: 10px;
	margin-left: 0;
	padding-left: 0;
}

.job-details li{
	padding:10px;
	float: left;
}

.top-button{
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 30px;
	z-index: 1;
}