@media only screen and (max-width: 992px){ 
		
	body{
		text-align: center;
	}

	.job-details, .overview{
		text-align: center;
	}

	.job-details ul, #overview ul{
		display: inline-block;

	}

}

@media only screen and (max-width: 700px){ 
	.profile-image{
		
	}
}

@media print{
	nav{
		display: none;
	}
	#home{
		display: none;
	}
}

nav {
	text-align: center;
	text-transform: uppercase;
	z-index: 3;
	font-size: large;
}

nav a, a:hover, #home a:hover{
	color: orange;
}

nav ul{
	display: inline-block;
	margin-bottom: 0px;
}

nav li{
	list-style-type: none;
	float: left;
	padding: 10px;
}

h1 {

	font-weight: bolder;
}

p::selection{
	background-color: orange;
	color: white;
}

div .row h4{
	color: lightblue;
}

#home a{
	color: blue;
}

#overview{
	margin-top: 0px;
}
#overview h1{
	color: #2d94fc;
	padding-bottom: 3px;
}

.details{
	float: left;
	padding-left: 5px;
}

.profile-image{
	height: 100%;
	max-height: 170px;
	padding-right: 5px;
	float: right;
}

#content{
	margin: auto;
	width: 90%;
	color: grey;

}

#content h3{
	color: darkgrey;
}

.top-title{
	color: #2d94fc;
	text-transform: uppercase;
	font-weight: bold;
	width: 100%;
	padding-top: 10px;
	margin: auto 20px;
}

#experience, #education, #certificates, #projects{
	float: left;
}

/*.row{
		background: orange;
		border: 1px solid green;
}*/

skill{
	border: 1px solid lightblue;
	padding: 8px;
	font-size: 18px;
	display: inline-block;
	margin: 3px;
}
section{
	border-bottom: solid 1px lightblue;
	margin-top: 0px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

section h4{
	margin-bottom: 2px;
	overflow-wrap: break-word;
}

section p{
	clear: left;
}

.job-details{
	padding-top: 0px;
	text-align: center;
}

.job-details ul, #overview ul{
	list-style-type: none;
	padding-right: 10px;
	margin-left: 0;
	padding-left: 0;
}

.job-details li, #overview li{
	padding: 5px;
	float: left;
	padding-top: 0px;
}

#overview li{
	font-size: 16px;
	text-transform: uppercase;

}

.top-button{
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 30px;
	z-index: 1;
}