$headlines_color: #2d94fc;
$borders_color: lightblue;

@media only screen and (max-width: 992px){ 

	.job-details, .overview{
		text-align: center;
	}

	.job-details ul, #overview ul{
		display: inline-block;

	}
}

.table{
	display: inline-table;
	text-align: center;
}

#overview {
	margin-top: 0px;
	text-align: center;

	h1 {
		color: $headlines_color;
		padding-bottom: 3px;
	}

	li {
		font-size: 16px;
		text-transform: uppercase;
	}
}

#summary {
	text-align: center;
}

#footer {
	width: 100%;
	opacity: 0.6;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1;
	background: white;
	border-top: 1px solid lightgrey;
}

.top-title{
	color: $headlines_color;
	text-transform: uppercase;
	font-weight: bold;
	width: 100%;
	padding-top: 10px;
	margin: auto 20px;
}

.job-details{
	padding-top: 0px;
	text-align: center;
}

.job-details ul, #overview ul{
	list-style-type: none;
	padding-right: 10px;
	margin-left: 0;
	padding-left: 0;
}

.job-details li, #overview li{
	padding: 5px;
	float: left;
	padding-top: 0px;
}


.details{
	float: left;
	padding-left: 5px;
}

.profile-image{
	height: 100%;
	max-height: 170px;
	padding-right: 5px;
	float: left;
}


#content{
	margin: auto;
	margin-bottom: 50px;
	width: 90%;
	color: grey;
	max-width: 1300px;

	h3{
		color: darkgrey;
	}

}


#experience, #education, #certificates, #projects{
	float: left;
}


.skill{
	border: 1px solid $borders_color;
	padding: 8px;
	font-size: 18px;
	display: inline-block;
	margin: 3px;
}


section {
	border-bottom: solid 1px $borders_color;
	margin-top: 0px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;

	h4 {
		margin-bottom: 2px;
		overflow-wrap: break-word;
	}

	p {
		clear: left;
	}

}

.fa-chevron-left, .fa-chevron-right {
	margin-left: 20px;
	margin-right: 20px;
}
