<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <title>Simple CV Maker</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/index.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        {% block head %}
        
        {% endblock %}
    </head>
    <body>
    	<div id="home">
    		<a href="#home"><i class="fas fa-arrow-up  fa-lg top-button"></i></a>
    	</div>

    	<div id="top-content" class="col-12">
    	
    		<nav>
	    		<ul>
	    			{% block nav %}
	    			{% endblock %}
	    		</ul>	
	    		<span id="account">
                    {% if session['user_id'] %}
				        <li id="greeting">Hello, {{ session['username'] }}</li>
                        <li><a href="{{ url_for('logout') }}">Logout<i class="fas fa-sign-out-alt"></i></a></li>
				    {% else %}
				        <li><a href="{{ url_for('signup') }}">Signup<i class="fas fa-user-plus"></i></a></li>
                        <li><a href="{{ url_for('login') }}">Login<i class="fas fa-sign-in-alt"></i></a></li>
				    {% endif %}
				</span>
    		</nav>
    	{% block topcontent %}
	    {% endblock %}
	    </div>

    	{% block content %}
        {% endblock %}

 		<div id="footer">
			<span>Simple CV Maker&#174; 2019</span>
		</div>
        <script type="text/javascript" src="/static/js/script.js">
        </script>
    </body>
</html>