<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <title>Simple CV Maker</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>
    <body>
    	<div id="home">
    	<a href="#home"><i class="fas fa-arrow-up  fa-lg top-button"></i></a>
    	</div>
    	<div id="top-content" class="col-12">
		    	<nav>
		    		<ul>
		    			<li><a href="#about">About</a></li>
		    			<li><a href="#templates">Templates</a></li>
		    		</ul>	
		    		<span id="account">{% if username %}
					    Hello, {{ username }}
					    {% else %}
					    Hello!
					    {% endif %}
					</span>
		    	</nav>
		    <div id="headline">
		        <h1>Simple CV maker!</h1>
		        <h3>The simplest CV maker out there. For free!</h3>
		    </div>
		</div>
		<div class="container-fluid">
			<div id="about" class="row justify-content-center">
					<h2> About</h2>
				    <p>CV Maker is free tool allowing you to instantly create simple yet professional looking CV for your job hunting that will make you stand out from the crowd and get the job you've always dreamed of!</p>
			</div>
				<div id="templates">
					<h2> Templates</h2>
				    <div class="row justify-content-center">
				    	<div class="col-lg-4  col-sm-6 template">
				    		<img src="../static/media/cv-template-leia.jpg">
				    		<h3>Leia Organa</h3>
				    		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				    		<a href="template-leia.html"><button type="button">View</button></a>
				    	</div>

					    <div class="col-lg-4 col-sm-6 template">
				    		<img src="../static/media/cv-template-shrek.jpg">
					    	<h3>Shrek</h3>
					    	<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
					    	<a href="template-shrek.html"><button type="button">View</button></a>
					    </div>

					    <div class="col-lg-4 col-sm-6 template">
				    		<img src="../static/media/cv-template-j-bond.jpg">
				    		<h3>James Bond</h3>
					    	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					    	<a href="template-jbond.html"><button type="button">View</button></a>
					    </div>
					</div>
				</div>
			</div>
			<div id="footer">
				<span>Simple CV Maker&#174; 2019</span>
			</div>
    </body>
</html>
