{% extends "base.html" %}
	{% block nav %}
		<li><a href="#about">About</a></li>
		<li><a href="#templates">Templates</a></li>
	{% endblock %}

    {% block topcontent %}
	    <div id="headline">
	        <h1>Simple CV maker!</h1>
	        <h3>The simplest CV maker out there. For free!</h3>
	    </div>
	{% endblock %}
	
	{% block content %}
	<div class="container-fluid">
		<div id="about" class="row justify-content-center">
				<h2> About</h2>
			    <p>CV Maker is free tool allowing you to instantly create simple yet professional looking CV for your job hunting that will make you stand out from the crowd and get the job you've always dreamed of!</p>
		</div>
			<div id="templates">
				<h2> Templates</h2>
			    <div class="row justify-content-center">
			    	<div class="col-lg-4  col-sm-6 template">
			    		<img src="../static/media/cv-template-leia.jpg">
			    		<h3>Leia Organa</h3>
			    		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
			    		<a href="{{ url_for('template_leia')  }}"><button type="button">View</button></a>
			    	</div>

				    <div class="col-lg-4 col-sm-6 template">
			    		<img src="../static/media/cv-template-shrek.jpg">
				    	<h3>Shrek</h3>
				    	<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
				    	<a href="{{ url_for('template_shrek')  }}"><button type="button">View</button></a>
				    </div>

				    <div class="col-lg-4 col-sm-6 template">
			    		<img src="../static/media/cv-template-j-bond.jpg">
			    		<h3>James Bond</h3>
				    	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				    	<a href="{{ url_for('template_jbond')  }}"><button type="button">View</button></a>
				    </div>
				</div>
			</div>
		</div>
{% endblock %}