{% extends "base.html" %}
	{% block nav %}
	    <li><a href="/">Home</a></li>
	{% endblock %}

	{% block topcontent %}
	    <div id="headline">
	        <h1>Sign Up</h1>
	        <h3>Sign up now and create your CV in minutes</h3>
	    </div>
	{% endblock %}

	{% block content %}
			<div class="container-fluid">
				<form name="signup" class="form" action = "{{ url_for('signup') }}" method="post">
					{% if errorMessages %}
						{% for errorMessage in errorMessages %}
							<span class="error-message">{{ errorMessage }}</span>
						{% endfor %}
					{% endif %}
					<input type="text" name="username" placeholder="Username *" autocomplete="username" required>
					<input type="password" name="password" placeholder="Password *" autocomplete="new-password" required>
					<input type="password" name="confirm-password" placeholder="Confirm Password *" autocomplete="new-password" required>
					<button type="submit">Sign Up</button>
				</form>
			</div>
	{% endblock %}