<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <title>Simple CV Maker</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>
    <body>
    	<div id="home">
    	<a href="#home"><i class="fas fa-arrow-up  fa-lg top-button"></i></a>
    	</div>
    	<div id="top-content" class="col-12">
		    	<nav>
		    		<ul>
		    			<li><a href="#about">About</a></li>
		    			<li><a href="#templates">Templates</a></li>
		    		</ul>	
		    		<span id="account">{% if user_name %}
					    Hello, {{ user_name }}
					    {% else %}
					    Hello!
					    {% endif %}
					</span>
		    	</nav>
		    <div id="headline">
		        <h1>Simple CV maker!</h1>
		        <h3>The simplest CV maker out there. For free!</h3>
		    </div>
		</div>
		<div class="container-fluid">
			<h2>Sign Up</h2>
			<form class="row justify-content-center" action = "{{ url_for('signup') }}" method="post">
				<input type="text" name="email" placeholder="Email">
				<input type="password" name="password" placeholder="Password">
				<button>Sign Up</button>
			</form>
		</div>
			<div id="footer">
				<span>Simple CV Maker&#174; 2019</span>
			</div>
    </body>
</html>
