{% extends "base.html" %}
	{% block nav %}
	    <li><a href="/">Home</a></li>
	{% endblock %}

	{% block topcontent %}
	    <div id="headline">
	        <h1>Sign Up</h1>
	        <h3>Sign up now and create your CV in minutes</h3>
	    </div>
	{% endblock %}

	{% block content %}
			<div class="container-fluid">
				<form class="row justify-content-center" action = "{{ url_for('signup') }}" method="post">
					<input type="text" name="name" placeholder="Name">
					<input type="password" name="password" placeholder="Password">
					<input type="password" name="confirm-password" placeholder="Confirm Password">
					<button>Sign Up</button>
				</form>
			</div>
	{% endblock %}