{% extends "templates-layout.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/templates/template-jbond.css">
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Gruppo&family=Bevan&family=Ultra&family=Abril+Fatface&family=Paytone+One&family=Black+Han+Sans&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
		<div id="content">
			<div id="overview">
				<div id="arrow"></div>
	    		<div class="details">
	        	<ul>
		    		<li><i class="fas fa-user icon"></i>Bond, James</li>
		    		<li><i class="fab fa-black-tie"></i>Agent 007</li>
		    		<li> <i class="fas fa-phone"></i> +077007007 </li>
		    		<li><i class="far fa-envelope"></i> <a href="mailto:">jbond@mi6.org</a></li>
		    	</ul>
				</div>
				<div id="headline"><span>JB007</span></div>
			</div>
			<div id="cv-details">
				<div id="summary">
						<h2>Summary</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
				</div>
				<div id="experience">
					<div id="experience">
						<h2 class="top-title">Experience</h2>
				    	<section class="job-details">
				    		<h3>Secret Service Agent</h3>
				    		<span class="job-period">YYYY/MM/DD - YYYY/MM/DD</span>
				    		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				    	</section>
				    	<section class="job-details">
				    		<h3>Secret Service Agent</h3>
				    		<span class="job-period">YYYY/MM/DD - YYYY/MM/DD</span>
				    		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				    	</section>
				    </div>
				    <div id="skills">
						<h2 class="top-title">Skills</h2>
				    	<section>
							<div class="skill">Agent <span class="rating"></span></div>
							<div class="skill">Shooting</div>
							<div class="skill">Driving</div>
						</section>
						<section>
							<div class="skill">Self-defence</div>
							<div class="skill">Karate</div>
							<div class="skill">What the heck</div>
							<div class="skill">Judo</div>
						</section>
					<div id="education">
						<h2 class="top-title">Education</h2>
						<section>
					    	<h3>International Spy</h3>
					    	<h4>MI6 Spy Academy</h4>
					    	<p>Some additional info about that.</p>
				    	</section>
					</div>
					<div id="certifications">
						<h2 class="top-title">Certifications</h2>
						<section>
					    	<h3>Karate</h3>
					    	<h4>Shotokan Karate School</h4>
					    	<p>Some additional info about that</p>
				    	</section>
					</div>
					<div id="languages">
						<h2 class="top-title">Languages</h2>
						<section>
				    		<h3>English</h3>
				    	</section>
				    	<section>
				    		<h3>Russian</h3>
				    	</section>
				    	<section>
				    		<h3>Korean</h3>
				    	</section>
					</div>
					<div id="projects">
						<h2 class="top-title">Projects</h2>
						<section>
						   	<h3>Mission to </h3>
						    <p>Project description goes here.</p>
					</section>
					</div>
					<div id="courses">
						<h2 class="top-title">Courses</h2>
						<section>
				    	<h3>Shooting</h3>
				    	<h4>Teacher, school or institute</h4>
				   		</section>
					</div>
			</div>
		</div>
{% endblock %}