{% extends "templates-layout.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/templates/template-jbond.css">
{% endblock %}

{% block content %}
		<div id="content">
			<div id="overview">
		    		<div class="details">
		        	<ul>
			    		<li><i class="fas fa-user"></i>Bond, James</li>
			    		<li><i class="fab fa-black-tie"></i>Agent 007</li>
			    		<li> <i class="fas fa-phone"></i> +077007007 </li>
			    		<li><i class="far fa-envelope"></i> <a href="mailto:">jbond@mi6.org</a></li>
			    	</ul>
					</div>
				<div id="summary">
					<h1>Summary --</h1>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
				</div>
			</div>
			<div id="headline"></div>
			<div></div>
			<div id="experience">
				<div id="experience">
					<h2 class="top-title">Experience --</h2>
			    	<section class="job-details">
			    		<h3>Secret Service Agent</h3>
			    		<p><span>YYYY/MM/DD - YYYY/MM/DD</span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			    	</section>
			    	<section class="job-details">
			    		<h3>Secret Service Agent</h3>
			    		<p><span>YYYY/MM/DD - YYYY/MM/DD</span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			    	</section>
			    </div>
			    <div id="skills">
					<h2 class="top-title">Skills --</h2>
			    	<section>
						<div class="skill">Agent</div>
						<div class="skill">Shooting</div>
						<div class="skill">Driving</div>
					</section>
					<section>
						<div class="skill">Self-defence</div>
						<div class="skill">Karate</div>
						<div class="skill">What the heck</div>
						<div class="skill">Judo</div>
					</section>
		</div>
{% endblock %}