/*James Bond Template stylesheet*/
$highlight_color: red;
$borders_color: red;
$highlight_font:'Alfa Slab One', cursive;
$text_font:'Gruppo', cursive;


*::selection {
	background-color: $highlight_color;
	color: white;
}

h2, #headline {
	text-transform: uppercase;
	font-family: $highlight_font;
	letter-spacing: 5px;
}

h2::after {
	content: " --";
}

h3, #content ul li {
	font-family: $highlight_font;
	font-weight: lighter;
}

p, .skill, .job-details {
	font-family: $text_font;
	font-size: 1.25em;
}

@media only screen and (max-width: 992px){ 
	#overview {
		text-align: left;
	}
}

/*Tablet portrait view? */

@media only screen and (max-width: 600px){ 

}

/*Standard layout*/
#content{
	display: grid;
	grid-template-columns: 1fr 6fr;
	grid-gap: 10px;
	grid-auto-rows: minmax(100vh, auto);
	width: 85%;
	margin: auto;
}

#overview {
	display: grid;
	grid-template-rows: 80px auto 50% 25%;
	margin-left: 5px;
	border: 1.5px  $borders_color;
	border-style: none dashed;
	background-color: black;
	color: white;

	ul {
		list-style: none;
	}

	.details {
		line-height: 18pt;
		padding: 10px;
		// background-color: pink;
		z-index: 10;
		margin: auto;
		font-size: 1em;

		i {	
			font-size: 1.5em;
			margin: 10px;
		}
	}
}

#arrow {
	width: 100%; 
  	max-height: 80px;
  	background-image: linear-gradient(to top right, transparent 50%, white 50%),
    linear-gradient(to top left, transparent 50%, white 50%);
  	background-size: 50.2% 100%;
  	background-repeat: no-repeat;
  	background-position: top left, top right;
  	z-index: 11;
}

#headline {
	font-size: 5em;
	background-color: white;
	color: black;
	text-transform: uppercase;
    letter-spacing: 3px;
  	z-index: 9;
  	position: relative;

  	span {
		display: block;
		position: relative;
		top: 0;
  		transform: rotate(270deg);
  	}
}

#cv-details {
	padding: 15px;
	margin: 10px;
	width: 85%;
}

#content{
	background-color: lightyellow;
}

.job-period {
	display: block;
}

#skills section {
	padding-bottom: 15px;
}

.skill{
	border: 1px solid $borders_color;
	padding: 8px;
	font-size: 18px;
	display: inline-block;
	margin: 3px;
}


section {
	border-bottom: dashed 1.5px $borders_color; 
	margin-top: 0px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;

	h4 {
		margin-bottom: 2px;
		overflow-wrap: break-word;
	}

}
