/*James Bond Template stylesheet*/
$highlight_color: red;
$borders_color: red;


@media only screen and (max-width: 992px){ 
	#overview {
		text-align: left;
	}
}

/*Tablet portrait view? */

@media only screen and (max-width: 600px){ 

}

/*Standard layout*/
#content{
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-gap: 10px;
	grid-auto-rows: 100%;
}

#overview {
	display: grid;
	grid-template-rows: 1fr auto 5fr;
	background-color: black;
	color: white;

	ul {
		list-style: none;
	}
}

#arrow {
	width: 0; 
  	height: 0; 
  	border-left: 20px solid transparent;
  	border-right: 20px solid transparent;
  	border-top: 20px solid white;
}

.details {

}

#headline {

}

#summary {
	
}

.top-title{
	
}

.job-details{
	
}

.profile-image{

}


#content{
}


#experience, #education, #certificates, #projects{
}


.skill{
	border: 1px solid $borders_color;
	padding: 8px;
	font-size: 18px;
	display: inline-block;
	margin: 3px;
}


section {
	border-bottom: solid 1px $borders_color;
	margin-top: 0px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;

	h4 {
		margin-bottom: 2px;
		overflow-wrap: break-word;
	}

}

p::selection{
	background-color: $highlight_color;
	color: white;
}